.chat__online__friend {
	display: flex;
	align-items: center;
	font-weight: 500;
	cursor: pointer;
	margin-top: 10px;
}
.chat__online__img__container {
	position: relative;
	margin-right: 10px;
}
.chat__online__img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
	border: 1px solid white;
}

.chat__online__badge {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: limegreen;
	top: 0;
	right: 0;
}
